<div class="web-container">
  <div class="d-flex justify-content-between">
    <%= link_to lists_path do %>
      <i class="fas fa-chevron-left" style="color: black; font-size: 1.3rem;"></i>
    <% end %>
    <i id="toogle-map-lists-show" class="fas fa-map-marked-alt" style="color: black; margin-top: 2px;"></i>
  </div>
  <h1> <%= @list.name %> </h1>
  <br>
  <p id="p-centered">Add your favourite places to the list</p>
  <div class="button-container">
    <%= link_to "CREATE TIP", new_list_tips_list_path(@list), class:"add-button" %>
  </div>
  <div class="tips-index-links relative" id="lists-show-index-cards">
    <% @list_tips.each do |list_tip| %>

      <%= link_to "", tip_path(list_tip.tip), class:"absolute-0-0"%>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 mb-0">
          <h2 class="mb-2">
            <%=  list_tip.tip.title %>
          </h2>
        </div>
        <div class="d-flex mt-0 mb-3">
          <img class="avatar-show-page" alt="avatar-large" style="margin-top: 12px;"src="https://avatars2.githubusercontent.com/u/55089715?v=4" />
          <div class="title-desc" style="margin-top: 10px;">
            <p>
              <% if list_tip.tip.review.length <= 83 %>
                <%=  list_tip.tip.review[0, 83] %>
              <% else %>
                <%=  list_tip.tip.review[0, 83] %> ...
              <% end %>
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
          <% if list_tip.tip.photo.present? %>
            <%= cl_image_path list_tip.tip.photo %>
          <% else %>
            <%= cl_image_path list_tip.tip.google_pic %>
          <%end%>); height: 200px; background-size: cover; border-radius: 5px;">
          <btn class="pill-category-tips-index <%= Tip::COLORS[list_tip.tip.category.to_sym] %>">
            <%=  list_tip.tip.category %>
          </btn>
        </div>
        <p class="address-tips-index mt-2" style="font-size: 16px">
          <%=  list_tip.tip.address %>
        </p>
    <% end %>
  </div>
  <div id="location-div-lists-show" class="d-none">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
