<div class="web-container">
  <h1> <%= @list.name %> </h1>
  <p id="p-centered">Add your favourite places to the list.</p>
    <div class="button-container">
      <%= link_to "Add a Tip", new_list_tips_list_path(@list), class:"add-button" %>
    </div>
  <% @list_tips.each do |list_tip| %>
    <div class="tips-index-links relative">
      <%= link_to "", tip_path(list_tip.tip), class:"absolute-0-0"%>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 mb-2">
          <h2 class="mb-2">
          <%=  list_tip.tip.title %>
          </h2>
          <p class="mb-2">Rating:
          <%=  list_tip.tip.rating %>
          stars
          </p>
        </div>
        <p>
          <%=  list_tip.tip.review[0, 83] %> ...
        </p>
        <div class="d-flex justify-content-center align-items-center" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list_tip.tip.photo if list_tip.tip.photo.present? %> ); height: 200px; background-size: cover">
            <btn class="pill-category-tips-index">
            <%=  list_tip.tip.category %>
            </btn>
        </div>
        <p class="address-tips-index">
          <%=  list_tip.tip.address %>
        </p>
    </div>
  <% end %>
  <%= image_tag "add-something.png", style: "width: 100%; margin-top: 11px;" %>
</div>
