<div class="web-container">
  <h1 style="margin-top: 45px;">Your Guests</h1> <br>
  <p id="p-centered" style="margin-bottom: -2px;">Share your lists with your guests</p>
  <div class="button-container">
    <%= link_to "ADD GUEST", guests_invite_path, class:"add-button" %>
  </div>
  <div class="user-lists">
    <% counter = 0 %>
    <% @guests_filtered.each do |guest| %>
      <%= link_to guests_show_path({guest_user_id: guest}) do%>
        <div class="guest-card d-flex justify-content-between" style="margin-bottom: 15px;" style="margin-bottom: 15px;">
          <div class="name-mail-date">
            <p class="guest-name" style="text-align: left; font-size: 22px;"><strong><%= "#{User.find(guest).first_name}"%></strong></p>
            <% if User.find(guest).email.length <= 20   %>
              <p class="guest-mail" style="font-size: 16px;"><%="#{User.find(guest).email}" %></p>
              <% else %>
              <p class="guest-mail" style="font-size: 16px;"><%="#{User.find(guest).email[0, 15]}" %>...</p>
            <% end %>
            <p class="guest-since" style="font-size: 16px;">Guest since <%= Date.parse("#{User.find(guest).created_at}").strftime("%d/%m/%Y")%></p>
          </div>
          <div class= "d-flex">
          <div class="lists-shared">
            <p class="number-of-lists" style="text-align: center; font-size: 22px;"><%=@guests_lists_count[counter] %></p>
            <% counter += 1 %>
            <p style="text-align: center; font-size: 16px;">lists shared</p>
          </div>

            <p style="padding-top: 20px; padding-left: 21px;">></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



