<div class="web-container">
  <div class="d-flex">
    <a href="#">
      <%= link_to guests_path do %>
        <i class="fas fa-chevron-left" style="color: black; font-size: 1.3rem;"></i>
      <% end %>
    </a>
  </div>
  <br>

  <h1 class="mb-3">Shared with <%= @guest.first_name %></h1>

  <%# count lists and tips for guest%>
  <div class="d-flex justify-content-around lists-tips mt-3">
    <div class="lists-shared">
      <p class="number-of-lists" style="margin-bottom: 5px;text-align: center; font-size: 22px;"><%= @guest_lists %></p>
      <p>Lists shared</p>
    </div>
    <div class="lists-shared">
      <p class="number-of-lists" style="margin-bottom: 5px; text-align: center; font-size: 22px;"><%= @guest_tips %></p>
      <p>Tips shared</p>
    </div>
  </div>


  <% if @unshared_lists.length != 0 %>
    <br>
    <p>Share an additional list?</p>
  <% end %>

  <% @unshared_lists.each do |list| %>
      <%= link_to guests_share_path({list_id: list.id, guest_user_id: @guest.id, path: "add"}) do%>
  <div class="card-container">
    <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
              <% if list.tips.last.photo.present? %>
                <%= list.tips.last.photo %>)
              <% else %>
               <%= list.tips.last.google_pic %>
              <%end%>);">
      <p style="text-align: center"><%= "#{list.name}"%>
    </div>
  </div>
      <% end %>

    <% end %>
  <br>
  <h2>Shared lists</h2>
  <% @shared_lists.each do |list| %>
  <div class="card-container">
    <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% if list.tips.last.photo.present? %>
                <%= list.tips.last.photo %>)
              <% else %>
               <%= list.tips.last.google_pic %>
              <%end%>);">
      <p style="text-align: center"><%= "#{list.name}"%>
    </div>
  </div>
    <% end %>
</div>


