<% if controller_name != "pages"%>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="#">
      <%= link_to new_list_path, class: "navbar-brand" do %>
      <%= image_tag "browse.png" %>
      <% end %>
    </a>
      <a class="navbar-brand" href="#">
      <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "home.png" %>
      <% end %>
    </a>
      <a class="navbar-brand" href="#">
      <%= link_to guests_path, class: "navbar-brand" do %>
      <%= image_tag "guests.png" %>
      <% end %>
    </a>
  </div>
<%else%>
  <%= %>
<%end%>
