<div class="primera-section-home">
  <div class="home-container">
    <h1>Boost-it</h1>
    <h2>Boost guest experience</h2>
    <p>
      Get better reviews by making trips memorable.
    </p>
    <button class="main-button-home" ><%= link_to "START NOW", lists_path  %></button>
  </div>
</div>

<div class="customers-section-home">
  <div class="home-container">
    <h2>Build ahead</h2>
    <p>
      Easily create reusable lists with your own personal local tips.
      <br>
      <br>
      <%= link_to "Start Building", lists_path, class:"homepage-link"   %>
    </p>
  </div>
</div>

<div class="boost-section-home">
  <div class="home-container">
    <h2>Surprise them</h2>
    <p>
      Share your lists with your guests to create a wow effect.
      <br>
      <br>
      <%= link_to "Start Sharing", lists_path, class:"homepage-link"  %>
    </p>
  </div>
</div>

<div class="last-section-home">
  <div class="home-container">
    <h2>Get inspired</h2>
    <p>
      Enhance your lists by choosing from millions of host added tips.
    </p>
      <button class="main-button-home-last" ><%= link_to "START NOW", lists_path %></button>
      <br>
      <p>Already have an account?
        <%= link_to "Sign in", new_user_session_path, class:"sign-in" %></p>
  </div>
</div>

<div class="home-footer">
  <h1>Boost-it</h1>
</div>
