<div class="primera-section-home">
  <div class="home-container">
    <h1>Boost-it</h1>
    <h2>Boost experiences</h2>
    <p>
      Boost your guest's satisfaction and get better reviews.
    </p>
    <button class="main-button-home" ><%= link_to "START NOW", lists_path  %></button>
  </div>
</div>

<div class="customers-section-home">
  <div class="home-container">
    <h2>Curated lists</h2>
    <p>
      Easily create and share lists with your own personal local tips.
      <br>
      <br>
      <%= link_to "Start Creating", lists_path, class:"homepage-link"   %>
    </p>
  </div>
</div>

<div class="boost-section-home">
  <div class="home-container">
    <h2>Get inspired</h2>
    <p>
      Enhance your lists by choosing from millions of host added tips.
      <br>
      <br>
      <%= link_to "Start Sharing", lists_path, class:"homepage-link"  %>
    </p>
  </div>
</div>

<div class="last-section-home">
  <div class="home-container">
    <h2>Boost your experience</h2>
      <button class="main-button-home-last" ><%= link_to "START NOW", lists_path %></button>
      <br>
      <p>Already have an account?
        <%= link_to "Sign in", new_user_session_path, class:"sign-in" %></p>
  </div>
</div>

<div class="home-footer">
  <h1>Boost-it</h1>
</div>
