<div class="web-container">
  <h2 class="text-center">Add Tip</h2>
    <%= simple_form_for(@tip) do |c| %> <!-- this is the action that tells the button submit where to -->
      <div class="form-inputs col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
        <%= c.input :title, input_html: {value: @old_tip.title}, label: 'Place', :readonly => true %>
        <%= c.input :address, input_html: {value: @old_tip.address}, :readonly => true %>
        <%= c.input :category, collection: Tip::CATEGORIES, selected: @old_tip.category, :readonly => true %>
        <%= c.input :review, label: 'Your personal recomendation' %>
        <input type="hidden" value="<%= @old_tip.id %>" name="old_tip">
        <%= c.input :price_level, as: :hidden, input_html: {value: @old_tip.price_level} %>
        List <br>
        <select name="lists" style="border-color: #CED4DA; background: white; width: 100%; padding: 7px; margin-bottom: 10px;">
          <option></option>
          <% @lists.each do |list| %>
            <option value="<%= list %>"><%= list.capitalize %></option>
          <% end %>
        </select>
        <%#= c.input :photo_cache,  as: :hidden %>
        <%#= c.input :photo, input_html: { class: 'd-none', id: 'photo-input', file: @old_tip.photo}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        <% if @old_tip.photo.present? %>
          <%= cl_image_tag @old_tip.photo, width: 200, id: "photo-preview", height: 200 %>
        <%else%>
          <%= cl_image_tag @old_tip.google_pic, width: 200, id: "photo-preview", height: 200 %>
        <%end%>
        <div class="form-actions">
          <div class="d-flex justify-content-between align-items-center" style="margin-top: -30px">
            <%= link_to "Cancel", get_inspired_path, class: "mr-5 ml-3"%>
            <%= c.button :submit, "SAVE", class: "add-button" %>
          </div>
        </div>
    <% end %>
      </div>
</div>




