<div class="web-container">
  <div class="title and subtitle">
    <h1 style="padding-top: 45px;">Get Inspired</h1>
    <br>
    <p id="p-centered">Add tips from other users to your lists</p>
  </div>
  <div class="button-container">
    <%= link_to "FILTER","", class:"add-button avatar dropdown-toggle" , id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Restaurant", get_inspired_path(filter: "Restaurant"), class: "dropdown-item" %>
          <%= link_to "Bar", get_inspired_path(filter: "Bar"), class: "dropdown-item" %>
          <%= link_to "Cafe", get_inspired_path(filter: "Cafe"), class: "dropdown-item" %>
          <%= link_to "Night Club", get_inspired_path(filter: "Night Club"), class: "dropdown-item" %>
          <%= link_to "Park", get_inspired_path(filter: "Park"), class: "dropdown-item" %>
          <%= link_to "Museum", get_inspired_path(filter: "Museum"), class: "dropdown-item" %>
          <%= link_to "Attraction", get_inspired_path(filter: "Attraction"), class: "dropdown-item" %>
          <%= link_to "Art Gallery", get_inspired_path(filter: "Art Gallery"), class: "dropdown-item" %>
          <%= link_to "Casino", get_inspired_path(filter: "Casino"), class: "dropdown-item" %>
          <%= link_to "All", get_inspired_path, class: "dropdown-item" %>
        </div>
  </div>

  <% # ["Bar", "Art Gallery", "Cafe", "Casino", "Museum", "Night Club", "Park", "Restaurant", "Attraction"] %>

  <% @tips.each do |tip| %>
    <div class="tips-index-links relative">
      <%= link_to "", tip_path(tip), class:"absolute-0-0"%>
        <div class="d-flex justify-content-between align-items-center pt-3">
          <h2 class="mb-1">
          <%=  tip.title %>
          </h2>
        </div>
        <div class="list-card" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <% if tip.photo.present? %>
            <%= tip.photo %>
          <% else %>
            <%= tip.google_pic %>
          <%end%>); height: 200px; margin-top: 0px;">
          <btn class="pill-category-tips-index <%= Tip::COLORS[tip.category.to_sym] %>">
            <%= tip.category %>
          </btn>
          <div style="display: flex; justify-content: space-between; position: absolute; left: 0; bottom: 0; width: 100%; padding-right: 20px; padding-left: 20px;">
            <p>By: <%= User.find(tip.user_id).first_name %></p>
            <p id="plus"> <%= link_to "", get_inspired_new_path(tip), class:"fas fa-plus"%></p>
          </div>
        </div>
        <p class="address-tips-index mt-2" style="font-size: 16px">
          <%=  tip.address %>
        </p>
  <% end %>
    </div>
</div>


