<div class="web-container">
  <div class="d-flex justify-content-between">
    <a href="#">
      <%= link_to lists_path do %>
      <%= image_tag "back.png", :style => "width: 5%"%>
      <% end %>
    </a>
    <i id="toogle-map-all-tips-index" class="fas fa-map-marked-alt" style="color: #ABA9AC; margin-top: 2px;"></i>
  </div>
  <div>
    <h1>Your Tips</h1>
    <br>
  </div>
  <p id="p-centered">Add your favourite places.</p>
  <div class="button-container">
    <%= link_to "Create Tip", new_tip_path, class:"add-button" %>
  </div>
  <div id="all-tips-index-cards">
    <% @my_tips.each do |my_tip| %>
      <div class="tips-index-links relative">
        <%= link_to "", tip_path(my_tip), class:"absolute-0-0"%>
          <div class="d-flex justify-content-between align-items-center mt-3 pt-3 mb-1">
            <h2 class="mb-2">
            <%=  my_tip.title %>
            </h2>
          </div>
          <p class="list-card-review">
            <%=  my_tip.review[0, 83] %> ...
          </p>
          <div class="list-card" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= my_tip.photo %>); height: 200px;">
            <btn class="pill-category-tips-index <%= Tip::COLORS[my_tip.category.to_sym] %>">

              <%= my_tip.category %>
            </btn>
          </div>
          <p class="address-tips-index mt-2" style="font-size: 16px">
            <%=  my_tip.address %>
          </p>
      </div>
    <% end %>
  </div>
  <div id="location-div-all-tips-index" class="d-none">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

