<div class="web-container">
  <div>
    <h1>Your Tips</h1>
  </div>
  <p id="p-centered">Add your favourite places to the list.</p>
    <div class="button-container">
      <%= link_to "Add a Tip", new_tip_path, class:"add-button" %>
    </div>


  <% @my_tips.each do |my_tip| %>
  <%= link_to "", tip_path(my_tip), class:"absolute-0-0"%>
    <div class="tips-index-links relative">
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 mb-2">
          <h2 class="mb-2">
          <%=  my_tip.title %>
          </h2>
          <p class="mb-2">Rating:
          <%=  my_tip.rating %>
          stars
          </p>
        </div>
          <p class="address-tips-index">
          <%=  my_tip.address %>
          </p>

        <div class="list-card" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= my_tip.photo %>); height: 200px;">
          <btn class="pill-category-tips-index">
            <%=  my_tip.category %>
          </btn>
        </div>

    <p>
        <%=  my_tip.review[0, 83] %> ...
        </p>
  <% end %>
</div>

