<div class="web-container">
  <h2 class="text-center">Create your tip</h2>
    <%= simple_form_for(@tip) do |c| %> <!-- this is the action that tells the button submit where to -->
      <div class="form-inputs col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
        Name <br>
        <input type= "text" class= "google-autocomplete" placeholder="Enter the place you wish to add"></input>
        <%= c.input :title, as: :hidden %>
        <%= c.input :address %>
        <%= c.input :review %>
        <%= c.input :price_level, as: :hidden %>
        <%= c.input :category, collection: Tip::CATEGORIES %>
        List <br>
        <select name="lists" style="border-color: #CED4DA; background: white; width: 100%; padding: 7px; margin-bottom: 10px;">
          <option></option>
            <% @lists.each do |list| %>
              <option value="<%= list %>"><%= list.capitalize %></option>
            <% end %>
        </select>
        <%= c.input :photo_cache, as: :hidden %>
        <%= c.input :photo, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      </div>
      <div class="form-actions">
        <%= c.button :submit,  "Save", class: "form-button" %>
      </div>
    <% end %>
</div>



