<div class="web-container">

 <div class="row justify-content-center">
    <div class="col-xs-12 col md-4">
      <h2 class="text-center">Create your tip</h2>
      <%= simple_form_for([@list, @tip]) do |c| %> <!-- this is the action that tells the button submit where to -->
        <div class="form-inputs col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
          <%= c.input :category %>
          <%= c.input :title %>
          <%= c.input :address %>
          <%= c.input :review %>
          <%= c.input :photo %>
          <%= c.input :photo_cache, as: :hidden %>
        <div class="main-button">
          <%= c.button :submit,  "Save", class:"form-button" %>
        </div>
        </div>
          <% end %>
      </div>
    </div>
 <!--  </div> -->

 </div>

