<div class="show-container">
  <div>
    <a href="#">
      <%= link_to tips_path do %><i class="fas fa-chevron-left" style="color: black; font-size: 1.3rem;"></i>
      <% end %>
    </a>
  </div>
  <br>
    <div class="d-flex justify-content-between align-items-center mb-1" >
      <h1 id="h1-show"> <%= @tip.title %></h1>
    </div>
      <p> <%= @tip.address %></p>
    <div id="avatar-and-comment" class="d-flex py-3">
      <!-- missing make the avatar dynamic, we need to ask the user to update a picture for that -->
      <img class="avatar-show-page" alt="avatar-large" src="https://avatars2.githubusercontent.com/u/55089715?v=4" />
      <p>"<%= @tip.review %>"</p>
    </div>
  <div id="show-info" >
    <div class="d-flex justify-content-end align-items-center" id= "photo-show-page" style="position: relative;">
      <% if @tip.photo.present? %>
        <%= cl_image_tag @tip.photo %>
      <% else %>
        <img alt="tip-photo" src= <%= @tip.google_pic %> />
      <% end %>
      <btn class="pill-category-show"> <%= @tip.category %> </btn>
    </div>
  </div>

<div id="location-div" class="d-none">
    <!-- <img src="https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?cs=srgb&dl=atlas-close-up-dark-dirty-592753.jpg&fm=jpg" alt="" height=100% width=100% style="border-radius: 8px;" > -->
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
  <br>
  <div class="">
    <p id="toogle-map-button" class="add-button-show-map">SHOW MAP</p>
  </div>
</div>




